@import "~bootstrap/scss/bootstrap";

.cart {
  width: 960px;
  margin: 0 auto;

  .header {
    margin-bottom: 16px;
  }
  .body {
    padding: 0;

    .product {
      display: flex;
      padding: 16px 24;
      border: 1px solid var(--primary-border-color);

      .product-image {
        margin: 16px 24px;
      }
      .image {
        width: 111px;
        height: 148px;
        margin-right: 16px;
      }

      .product-details {
        flex: 1;
      }
    }
  }
}
