@import "~bootstrap/scss/bootstrap";

.cart {
  width: 960px;
  margin: 0 auto;

  .header {
    margin-bottom: 16px;
  }
  .body {
    padding: 0;

    .product {
      display: flex;
      padding: 16px 24;
      border: 1px solid var(--primary-border-color);
      margin-bottom: 12px;

      .product-image {
        margin: 16px 12px 16px 24px;
      }
      .image {
        width: 111px;
        height: 148px;
      }

      .product-details {
        flex: 1;
        margin: 16px 0;

        .product-brand {
          display: block;
          font-size: 1.6rem;
          color: var(--primary-text-color);
          margin-bottom: 8px;
        }
        .product-size,
        .product-quantity {
          display: block;
          color: var(--primary-text-color);
          font-size: 1.6rem;
          margin-bottom: 8px;
        }

        .product-price {
          color: var(--primary-text-color);

          font-size: 1.6rem;
          font-weight: 600;
          color: var(--price);
        }
      }

      .remove-icon {
        margin: 16px 24px 0 0;
      }
    }

    .price-detail {
      padding-left: 40px;
      .price-title {
        font-size: 1.6rem;
        color: var(--primary-text-color);
        font-weight: 600;
        margin-bottom: 24px;
      }

      .shipping-fee {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        border-bottom: 1px solid var(--primary-border-color);
        padding-bottom: 16px;
        .shipping-label {
          font-size: 1.6rem;
          color: var(--primary-text-color);
        }
        .shipping-value {
          font-size: 1.6rem;
          color: var(--price);
        }
      }

      .total-amount {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        .total-label {
          font-size: 1.6rem;
          color: var(--primary-text-color);
          font-weight: 600;
        }
        .total-value {
          font-size: 1.6rem;
          color: var(--price);
        }
      }
      .place-order-btn {
        width: 100%;
        padding: 8px 16px;
        font-size: 1.6rem;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-weight: 600;
        background-color: var(--primary-color);
        color: var(--white);
        border: 2px solid var(--primary-color);

        &:hover {
          background-color: var(--white);
          color: var(--primary-color);
        }
      }
    }
  }
}
