@import "~bootstrap/scss/bootstrap";

.header {
  height: 80px;

  .header-container {
    padding: 0;

    .header-row {
      padding: 0;

      .header-col {
        padding: 0;

        .header-logo {
          padding: 0;

          .logo {
            height: 80px;
            width: 80px;
          }
        }

        .nav-link {
          padding: 0 16px;
          font-size: 1.4rem;
          font-weight: 600;
          color: var(--primary-color);
        }
      }
    }
  }
}
