@import "~bootstrap/scss/bootstrap";

.profile {
  margin-top: 40px;
  padding: 0;

  .profile-container {
    padding: 0;

    .profile-sidebar {
      padding: 0 10px 0 0;

      .sidebar-header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        border-bottom: 2px solid var(--primary-color);

        .sidebar-title {
          font-size: 2rem;
          font-weight: 500;
        }
      }

      .sidebar-content {
        margin-top: 40px;
      }

      .sidebar-list {
        padding: 0;
        margin-bottom: 20px;

        .sidebar-item {
          display: flex;
          align-items: center;
          height: 60px;
          padding: 20px 0 20px 60px;
          border-bottom: 1px solid var(--primary-border-color);

          .sidebar-link {
            font-size: 2rem;
          }
        }
      }

      .logout-button {
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--primary-color);
      }
    }
  }

  .profile-content {
    padding: 0 0 0 10px;

    .content-header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 120px;
      border-bottom: 2px solid var(--primary-color);

      .content-title {
        font-size: 4rem;
        font-weight: 500;
      }
    }

    .content-form {
      margin-top: 40px;
    }
  }
}

.form-group {
  height: 40px;
  margin-bottom: 32px;

  .form-label {
    padding-left: 60px;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
  }

  .info-input {
    width: 400px;
    height: 40px;
    padding: 4px 10px;
    font-size: 1.6rem;
    line-height: 40;
    border-radius: 4px;
    border: 1px solid var(--primary-border-color);
    &:focus {
      border-color: var(--primary-color);
      box-shadow: 0 0 0 0.2rem rgba(255, 27, 103, 0.25);
    }
  }
}

.btn-save {
  float: right;
  height: 40px;
  width: 100px;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--white);
  border: 0;
  transition: all 0.3s ease;

  &:hover {
    color: var(--primary-color);
    background-color: var(--white);
    border: 2px solid var(--primary-color);
  }
}

.form-footer {
  display: flex;
  align-items: center;
  padding-left: 172px;
  height: 40px;

  .edit,
  .change-password {
    color: var(--primary-color);
    font-weight: 500;
    padding-right: 54px;
    cursor: pointer;

    &:hover {
      color: var(--gray);
    }
  }
}
.avatar-container {
  display: flex;
  justify-content: center;

  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 1000px;
  }
}
