@import "~bootstrap/scss/bootstrap";

.product-detail {
  padding: 0;

  .product-detail__container {
    padding: 0;

    .product-image__container {
      padding: 0 120px;

      .product-image {
        width: 420px;
        height: 560px;
      }
    }

    .product-info {
      padding: 0;

      .product-brand {
      }
    }
  }
}
