@import "~bootstrap/scss/bootstrap";

.product-detail {
  padding: 0;

  .product-detail__container {
    padding: 0;

    .product-image__container {
      padding: 0;

      .product-image {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .product-info {
      padding: 0;
    }
  }
}
